body {
    font-family: sans-serif;
    font-size: 25px;
    background-color: transparent;
    color: #111;
    margin-right: 20px 45px;
    padding: 5px 53px;
    border-bottom-right-radius: 15px;
    border-color: #000;
    font-weight: lighter;
    width: 500px;
}

.legend {
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline blue;
    color: purple;
}

#select {
    option: nth-child(2n+1);
}

#field {
    width: 1000px;
    font-weight: lighter;
    font-style: small;
    font-family: monospace;
    background-color: beige;
    border-color: yellow;
    
}
#para1{
	font-style: italic;
	font-weight: bolder;
}